[submodule "simulink_sub"]
	path = simulink_sub
	url = https://github.com/katofalka/simulink_sub.git
[submodule "MEX"]
	path = MEX
	url = https://github.com/katofalka/MEX.git
[submodule "dialect"]
	path = dialect
	url = https://github.com/katofalka/dialect.git
[submodule "simulink_mavlink"]
	path = simulink_mavlink
	url = https://github.com/katofalka/simulink_mavlink.git
